<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Storage Server</title>
  <link rel="icon" href="favicon.png" type="image/x-icon">
  <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="style.css">
  <script src="script.js"></script>
</head>
<body>
  <div class="app container">
    <h1>Hello World!</h1>

    <% if (Object.keys(listeners).length > 0) { %>
      <table>
        <thead>
          <tr>
            <th>Socket Id</th>
            <th>Listener Count</th>
          </tr>
        </thead>
        <tbody>
          <% for (let socketId in listeners) { %>
            <tr>
              <td><%= socketId %></td>
              <td>
                <%= listeners[socketId].length %>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    <% } else { %>
      <h1>No Active Listeners</h1>
    <% } %>
  </div>
</body>
</html>